{% extends "layout.njk" %}

{%block head%}
    <title>Criar Receita</title>
    {%endblock%}

        {% block content %}
    <form method="POST" action="/admin/recipes" enctype="multipart/form-data">
            <div class="recipe-header">
                <h2>Criando receita</h2>
                <span>
                    <button type="submit">Salvar receita</button>
                </span>
            </div>

            {%include 'admin/fields.njk' %}


        </form>
        <div class="rights">
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </div>
    {% endblock %}