{% extends "layout.njk" %}

{%block head%}
    <title>Criar Receita</title>
    {%endblock%}

    {% block content %}
        <div class="recipe-header">
            <h2>Criando receita</h2>
            <span>
                <form id="form-delete" action="/admin/recipes?_method=DELETE" method="post">
                    <input type="hidden" name="id" value="{{recipe.id}}">
                    <button type="submit" id="delete">Deletar</button>
                </form>
            <button form="recipe-form" type="submit" class="save">Salvar receita</button>
            </span>
        </div>
        <form id="recipe-form" method="post" action="/admin/recipes?_method=PUT" enctype="multipart/form-data">
    
            {%include 'admin/fields.njk' %}
            <input type="hidden" name="id" value="{{recipe.id}}">
        </form>

        <div class="rights">
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </div>

    {% endblock %}