{% extends "layout.njk" %}

{%block head%}
    <title>Receitas - Foodfy</title>
    {%endblock%}

    {% block content %}
            {%if filter%}
            <div class="recipe-header">
            <h2>Buscando por "{{filter}}"</h2>
            </div>
            {%else%}
            {%endif%}
        <div class="recipe">
            {% for recipe in recipes %}
                <div class="recipes" id="{{recipe.id}}">
                    {%for image in images %}
                    {%if image.recipe_id == recipe.id%}
                    <img src="{{image.src}}" alt="{{recipe.title}}">
                    {%endif%}
                    {%endfor%}
                    <h3 class="title">{{recipe.title}}</h3>
                    {%for chef in chefOptions %}
                        {%if chef.id == recipe.chef_id%}
                            <p class="author">por
                                {{chef.name}}</p>
                            {%endif%}
                            {%endfor%}
                        </div>
                    {% endfor %}
                </div>
        <div class="pagination" 
        data-page={{pagination.page}}
        data-total={{pagination.total}}
        data-filter={{filter}}
        >
        </div>
                    <div class="rights">
                        <p>Todos direitos reservados, receitas Foodfy.</p>
                    </div>

                <script src="../scripts.js"></script>
            {% endblock %}